
html
	head
		meta(name='viewport' content="initial-scale=1, maximum-scale=1 user-scalable=no")
		meta(charset='utf-8')
	link(href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet")
	link(href="/src/css/overlap.css" rel="stylesheet")
	script(src="/lib/jquery-3.1.1.min.js")
	script(src="/lib/bootstrap/js/bootstrap.min.js")
	script(src="/lib/sketch.js")
	script(src="https://cdn.socket.io/socket.io-1.3.2.js")
	script(src="//developers.kakao.com/sdk/js/kakao.min.js")  
	body
		input(type='hidden' id= 'nickname' value= nickname)
		input(type='hidden' id='thumbnail' value= thumbnail)
		input(type='hidden' id='roomId' value= roomId)
		div(id="sketch")
		div(id="scoreBoard")
		div(id="chat_div")
		div(id="message_box_div")
			div(class="input-group")
				input(type="text" id='message_box' class='form-control')
				span(class="input-group-btn")
					button(id='message_button' class="btn btn-default" type="button") send
		div(id="control_div")
			input(type='button' class="btn btn-primary" id='eraser' value='eraser')
			input(type='button' class="btn btn-primary" id='clear' value='clear')
			input(type='button' class="btn btn-primary" id= 'color_picker_button' value='color_picker')
			input(type='button' class="btn btn-warning" id= 'problem_button' value='problem' data-toggle="modal" data-target="#problem_modal")
		canvas(id="color_picker")
		div(id="problem_modal" class="modal fade" role="dialog")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						h4(class="modal-title") 문제 출제
					div(class="modal-body")
						div(class="input-group")
							input(type="text" id='problem_box' class='form-control')
							span(class="input-group-btn")
								button(id='problem_box_button' class="btn btn-default" type="button") 출제
		div(id="timer_div")
			span(id="time-hour")
			span(id="time-min")
			span(id="time-sec")				
		script(src="/dist/main.bundle.js")
